<h1>{{ title }}</h1>

<table>
  <tr>
    <td>Id</td>
    <td>Name</td>
    <td>Professor</td>
  </tr>
  {{#each classInformation}}
    <form method="post" action="/delete/class">
      <tr>
        <td>{{Id}}</td>
        <td>{{Name}}</td>
        <td>{{Professor}}</td>
        <td>
          <button 
            style="margin-left: 10px;" 
            name='delBtn' 
            type="submit" 
            value="{{Id}}"
          >
            delete
          </button>
        </td>
      </tr>
    </form>
  {{/each}}
</table>
