<h1>{{main_title}}</h1>
<table>
    <tr>
        <td>Id</td>
        <td>Name</td>
        <td>Email</td>
        <td>Phone number</td>
        <td>Building Id</td>
    </tr>
    {{#each department_res}}
    <form method="post">
        <tr>
            <td>{{Id}}</td>
            <td style="display: none"><input type="text" name="Id" value={{Id}}></td> 
            <td><input type="text" name="Name" value="{{Name}}"></td> 
            <td><input type="text" name="Email" value={{Email}}></td> 
            <td><input type="text" name="Phone_Number" value={{Phone_Number}}></td> 
            <td><input type="text" name="Building_Id" value={{Building_Id}}></td>
            <td><input type="submit" value="Modify" formaction="/update/department"></td>
        </tr>
    </form>
    {{/each}}
</table>
