<h1>{{ title }}</h1>

<table>
  <tr>
    <td>Id</td>
    <td>Name</td>
    <td>Phone_Number</td>
    <td>Major</td>

  </tr>
  {{#each studentInformation}}
  <tr>
    <td>{{Id}}</td>
    <td>{{Name}}</td>
    <td>{{Phone_Number}}</td>
    <td>{{Major}}</td>
  </tr>
  {{/each}}
</table>